.row {
  margin-bottom: 15px;
}
.row > div {
  border: 2px solid red;
  background-color: blue;
}

.title{
	text-align: center;
	font-size: 175%;
	margin-top: 20px;
}

.sectionTitle{
	background-color: pink;
	font-size: 125%;
	font-weight: bold;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	position: relative;
	float: right;
  padding: 10px 10px 5px 5px;
}

.contentText{
	clear: both;
  padding: 16px}

